.detail-card__conatiner{
    display: flex;
   align-items: center;
}
.detail-card__section{
    padding: 79px 111px 252px 111px;
    background-color: $background-dark;
}
.detail-card__img{
    width: 595px;
    border-radius: $card-radius 0 0 $card-radius;
}
.detail-card-descr__container{
    padding: 12.5px 13.5px 13.51px 13.5px;
    background-color: $background-grey;
    color: $white;
    border-radius: 0 $card-radius $card-radius 0;
}
