.filter__container{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    margin-left: 161px;
}
.filter__select{
    position: relative;
}
.filter__select, .filter__input{
    width: 270px;
    height: 56px;
    background-color: $white;
    border-radius: $btn-radius $btn-radius 0 0;
    outline: none;
    cursor: pointer;
    margin-right: 28px;
}
.filter__select-main{
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.filter__input{
    padding: 8px 12px;
}
.filter__input::placeholder{
    color: $black;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.filter__btn{
    padding: 0 16px;
    border: none;
    border-radius: $btn-radius;
    text-transform: uppercase;
    width: 143px;
    height: 57px;
    transition: all 250ms linear;
    font-size: 16px;
}
.filter__btn:hover{
    opacity: 0.8;
    transition: all 250ms linear;
}


.filter__checkbox-wraper{
    position: absolute;
    top: 50px;
    left: 0;
    background-color: $white;
    border-radius: 0 0 $btn-radius $btn-radius;
    width: 100%;
}
.filter__checkbox{
    border-top: 1px solid $black;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filter__checkbox input{
    width: 20px;
    height: 20px;
}