.header__container{
    padding: 10px 27px;
    background-image: url('../images/bckgr.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%;
}
.logo__container{
    display: block;
    width: 40px;
    height: 40px;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.header__title{
    color: $black;
    text-align: center;
    font-size: 101.25px;
    font-style: normal;
    font-weight: 900;
    line-height: 111.375px;
    margin: 113px 0 120px;
}