@import './fonts.scss';
@import './colors';
@import './mixins';
@import './header.scss';
@import './footer.scss';

$btn-radius: 4px;
$card-radius: 9px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: $main-font; 
}
