@import './fonts.scss';
@import './colors';
@import './mixins';
@import './header.scss';
@import './footer.scss';
@import './home-page.scss';
@import './card.scss';
@import './detail-card.scss';
@import './filter.scss';
@import './pagination.scss';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: $main-font; 
}
ul, ol{
    list-style: none;
}
button{
    cursor: pointer;
}
a{
    text-decoration: none;
   
}
